LARAVEL_APP_PATH=/var/www/html/vendra
ALPINE_MIRROR=https://mirror.arvancloud.ir/alpine
VENDRA_REPOSITORY=https://github.com/misaf/vendra.git
VENDRA_REF=master
RUN_LARAVEL_MIGRATIONS=true

NGINX_HTTPS_PORT=443
NGINX_SERVER_NAME="vendra.test panel.houshang-flowers.test"
MYSQL_HOST=127.0.0.1
MYSQL_PORT=3306

TIMEZONE=UTC

APP_NAME=Vendra
APP_ENV=production
APP_KEY=
APP_DEBUG=false
APP_URL=https://vendra.test

APP_LOCALE=en
APP_FALLBACK_LOCALE=en
APP_FAKER_LOCALE=en_US

APP_MAINTENANCE_DRIVER=file

BCRYPT_ROUNDS=12

LOG_STACK=single
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=warning

DB_CONNECTION=mysql
DB_HOST=mysql
DB_PORT=3306
DB_DATABASE=vendra
DB_USERNAME=vendra
DB_PASSWORD=change-this-app-db-password
DB_ROOT_PASSWORD=change-this-root-db-password

SESSION_DRIVER=database
SESSION_LIFETIME=120
SESSION_ENCRYPT=false
SESSION_PATH=/
SESSION_DOMAIN=null

BROADCAST_CONNECTION=log
FILESYSTEM_DISK=local

CACHE_STORE=database
QUEUE_CONNECTION=database

AUTH_MODEL=
LOG_CHANNEL=stack
PUSHER_LOG_LEVEL=error

TURNSTILE_KEY=
TURNSTILE_SECRET=

REDIS_CLIENT=phpredis
REDIS_HOST=redis
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=log
MAIL_SCHEME=null
MAIL_HOST=mailpit
MAIL_PORT=1025
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_FROM_ADDRESS=hello@example.com
MAIL_FROM_NAME="${APP_NAME}"

VITE_APP_NAME="${APP_NAME}"
