[submodule "app-modules/email-webhooks"]
	path = app-modules/email-webhooks
	url = https://github.com/misaf/laravel-webhooks
[submodule "app-modules/email-webhooks-resend"]
	path = app-modules/email-webhooks-resend
	url = https://github.com/misaf/laravel-webhooks-resend
[submodule "app-modules/authify-log"]
	path = app-modules/authify-log
	url = https://github.com/misaf/laravel-authify-log
[submodule "app-modules/currency"]
	path = app-modules/currency
	url = https://github.com/misaf/laravel-currency
