parameters:

    paths:
        - app
        - packages/vendra-console/src
        - packages/vendra-subscription/src

    stubFiles:
        - packages/vendra-api/phpstan.stub

    # Level 10 is the highest level
    level: 10
#
#    excludePaths:
#        - ./*/*/FileToBeExcluded.php
#
#    checkMissingIterableValueType: false
