<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd" bootstrap="vendor/autoload.php" colors="true">
    <testsuites>
        <testsuite name="Unit">
            <directory>tests/Unit</directory>
        </testsuite>
        <testsuite name="Feature">
            <directory>tests/Feature</directory>
        </testsuite>
        <testsuite name="vendra-activity-log">
            <directory>packages/vendra-activity-log/tests</directory>
        </testsuite>
        <testsuite name="vendra-address">
            <directory>packages/vendra-address/tests</directory>
        </testsuite>
        <testsuite name="vendra-affiliate">
            <directory>packages/vendra-affiliate/tests</directory>
        </testsuite>
        <testsuite name="vendra-affiliate-api">
            <directory>packages/vendra-affiliate-api/tests</directory>
        </testsuite>
        <testsuite name="vendra-api">
            <directory>packages/vendra-api/tests</directory>
        </testsuite>
        <testsuite name="vendra-attribute">
            <directory>packages/vendra-attribute/tests</directory>
        </testsuite>
        <testsuite name="vendra-attribute-api">
            <directory>packages/vendra-attribute-api/tests</directory>
        </testsuite>
        <testsuite name="vendra-blog">
            <directory>packages/vendra-blog/tests</directory>
        </testsuite>
        <testsuite name="vendra-blog-api">
            <directory>packages/vendra-blog-api/tests</directory>
        </testsuite>
        <testsuite name="vendra-cart">
            <directory>packages/vendra-cart/tests</directory>
        </testsuite>
        <testsuite name="vendra-cart-api">
            <directory>packages/vendra-cart-api/tests</directory>
        </testsuite>
        <testsuite name="vendra-console">
            <directory>packages/vendra-console/tests</directory>
        </testsuite>
        <testsuite name="vendra-currency">
            <directory>packages/vendra-currency/tests</directory>
        </testsuite>
        <testsuite name="vendra-custom-page">
            <directory>packages/vendra-custom-page/tests</directory>
        </testsuite>
        <testsuite name="vendra-custom-page-api">
            <directory>packages/vendra-custom-page-api/tests</directory>
        </testsuite>
        <testsuite name="vendra-developer-logins">
            <directory>packages/vendra-developer-logins/tests</directory>
        </testsuite>
        <testsuite name="vendra-delivery">
            <directory>packages/vendra-delivery/tests</directory>
        </testsuite>
        <testsuite name="vendra-delivery-api">
            <directory>packages/vendra-delivery-api/tests</directory>
        </testsuite>
        <testsuite name="vendra-document">
            <directory>packages/vendra-document/tests</directory>
        </testsuite>
        <testsuite name="vendra-faq">
            <directory>packages/vendra-faq/tests</directory>
        </testsuite>
        <testsuite name="vendra-faq-api">
            <directory>packages/vendra-faq-api/tests</directory>
        </testsuite>
        <testsuite name="vendra-inquiry">
            <directory>packages/vendra-inquiry/tests</directory>
        </testsuite>
        <testsuite name="vendra-inquiry-api">
            <directory>packages/vendra-inquiry-api/tests</directory>
        </testsuite>
        <testsuite name="vendra-language">
            <directory>packages/vendra-language/tests</directory>
        </testsuite>
        <testsuite name="vendra-localization">
            <directory>packages/vendra-localization/tests</directory>
        </testsuite>
        <testsuite name="vendra-multimedia">
            <directory>packages/vendra-multimedia/tests</directory>
        </testsuite>
        <testsuite name="vendra-multimedia-api">
            <directory>packages/vendra-multimedia-api/tests</directory>
        </testsuite>
        <testsuite name="vendra-newsletter">
            <directory>packages/vendra-newsletter/tests</directory>
        </testsuite>
        <testsuite name="vendra-order">
            <directory>packages/vendra-order/tests</directory>
        </testsuite>
        <testsuite name="vendra-order-api">
            <directory>packages/vendra-order-api/tests</directory>
        </testsuite>
        <testsuite name="vendra-permission">
            <directory>packages/vendra-permission/tests</directory>
        </testsuite>
        <testsuite name="vendra-phone">
            <directory>packages/vendra-phone/tests</directory>
        </testsuite>
        <testsuite name="vendra-product">
            <directory>packages/vendra-product/tests</directory>
        </testsuite>
        <testsuite name="vendra-product-api">
            <directory>packages/vendra-product-api/tests</directory>
        </testsuite>
        <testsuite name="vendra-store">
            <directory>packages/vendra-store/tests</directory>
        </testsuite>
        <testsuite name="vendra-reseller">
            <directory>packages/vendra-reseller/tests</directory>
        </testsuite>
        <testsuite name="vendra-socialite">
            <directory>packages/vendra-socialite/tests</directory>
        </testsuite>
        <testsuite name="vendra-subscription">
            <directory>packages/vendra-subscription/tests</directory>
        </testsuite>
        <testsuite name="vendra-support">
            <directory>packages/vendra-support/tests</directory>
        </testsuite>
        <testsuite name="vendra-tagger">
            <directory>packages/vendra-tagger/tests</directory>
        </testsuite>
        <testsuite name="vendra-tenant">
            <directory>packages/vendra-tenant/tests</directory>
        </testsuite>
        <testsuite name="vendra-testing">
            <directory>packages/vendra-testing/tests</directory>
        </testsuite>
        <testsuite name="vendra-transaction">
            <directory>packages/vendra-transaction/tests</directory>
        </testsuite>
        <testsuite name="vendra-user">
            <directory>packages/vendra-user/tests</directory>
        </testsuite>
        <testsuite name="vendra-user-profile">
            <directory>packages/vendra-user-profile/tests</directory>
        </testsuite>
        <testsuite name="vendra-verification">
            <directory>packages/vendra-verification/tests</directory>
        </testsuite>
        <testsuite name="vendra-wishlist">
            <directory>packages/vendra-wishlist/tests</directory>
        </testsuite>
        <testsuite name="vendra-wishlist-api">
            <directory>packages/vendra-wishlist-api/tests</directory>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory>app</directory>
        </include>
    </source>
    <php>
        <ini name="memory_limit" value="2G"/>
        <env name="APP_ENV" value="testing"/>
        <env name="APP_MAINTENANCE_DRIVER" value="file"/>
        <env name="APP_URL" value="https://vendra.test" force="true"/>
        <env name="ASSET_URL" value="https://vendra.test" force="true"/>
        <env name="API_PLATFORM_CACHE_STORE" value="array" force="true"/>
        <env name="BCRYPT_ROUNDS" value="4"/>
        <env name="BROADCAST_CONNECTION" value="null"/>
        <env name="CACHE_STORE" value="array"/>
        <!-- Pinned: the suite must not exercise whichever runtime a developer happens to have configured locally. -->
        <env name="CONTAINER_DRIVER" value="docker" force="true"/>
        <env name="DOCKER_HOST" value="http://provisioner:8080" force="true"/>
        <env name="DOCKER_API_VERSION" value="1.55" force="true"/>
        <env name="DB_CONNECTION" value="sqlite"/>
        <env name="DB_DATABASE" value=":memory:"/>
        <env name="MAIL_MAILER" value="array"/>
        <env name="LOG_CHANNEL" value="testing"/>
        <env name="QUEUE_CONNECTION" value="sync"/>
        <env name="SESSION_DOMAIN" value="null"/>
        <env name="SESSION_DRIVER" value="array"/>
        <env name="PULSE_ENABLED" value="false"/>
        <env name="TELESCOPE_ENABLED" value="false"/>
        <env name="NIGHTWATCH_ENABLED" value="false"/>
    </php>
</phpunit>
